:root{
	--dark-blue: #000B4F;
	--blue: #20368F;
	--light-blue: #829CD0;
	--light-gray: #e8f4f8;
	--gray: #6D6D6D;
	--dark-gray: #323232;
	
	--light-cyan: #ccfbfeff;
	--oxford-blue: #001429ff;
	--platinum: #eaececff;
	--flickr-pink: #f40076ff;
	--light-pink: #f7b6c0ff;
	--display-font: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--name-font: 'Dancing Script', cursive;
}

body {
    color: var(--dark-gray);
	background-color: var(--light-blue);
	font-size: 14px;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
    padding: 0;
}

.full-name {
	list-style-type: none;
	font-size: 3.5rem;
	font-family: var(--name-font);
	float: left !important;
	border: solid;
	border-color: var(--dark-gray);
}

.first .last {
	display: block;
	text-decoration: none;  
}

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrap-nav {
	display: flex;
	align-items: stretch;
}

.nav-left {
	justify-content: flex-start;
}

.nav-end {
	justify-content: flex-start;
}

.nav {
	background-color: var(--dark-gray);
	position: fixed;
	z-index:1; 
	width: 100%;

	border: solid;
	border-color: var(--dark-gray);
}

li {
	list-style-type: none;
}

li a {
	color: var(--light-gray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.name {
	font-size: 2rem;
}

.header-links {
	justify-content: flex-end !important;
	float: right !important;

	border: solid;
	border-color: var(--dark-gray);
	color: var(--light-gray);
}

.first-name {
	color: var(--light-gray);
}

#title {
	margin-top: 20rem;
	margin-bottom: 2rem;
}

.bio{
	padding: 5rem;
	margin-bottom: 20rem;
}

.headshot {
	margin: 0rem;
	padding: 0rem;
	margin-bottom: 5rem;
}

.about-container {
	display: flex;
	background-color: var(--light-gray);
}

.about-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-gray);
}

.flex-child {
    flex: 1;
	padding-right: 120px;
	padding-left: 120px;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: var(--light-gray);
}

.flex-child:first-child {
    margin-right: 20px;
}

.about-text {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
    font-size: 50px;
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	margin: 0;
    padding: 0;
	margin-bottom: 1rem;
}

p{
	font-size: 20px;
}

.other{
	text-decoration: underline;
}

h2 {
  font-size: 30px;
	border-left: 300px solid var(--light-blue);
	border-right: 300px solid var(--light-blue);
	text-align: center;

	border: solid;
	border-color: var(--light-blue);
}

ul {
	list-style-type: circle;
	font-size: 20px;
	border-left: 300px solid var(--light-blue);
	border-right: 300px solid var(--light-blue);
}

a:hover {
	color: var(--light-blue);
}
a{
	color: var(--light-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nolink {
	color: var(--dark-gray);
	text-align: center;
}

h3 {
	background-color: var(--dark-gray);
	padding: 30px;
	border: 10px solid var(--dark-gray);
}

.details{
	margin: 20px 20px;
	background-color: var(--light-gray);
	border: 5px solid var(--dark-gray);
	border-radius: 25px;
	padding: 30px 20px;
	position: relative;
	z-index: 1;
	text-align-last: center;
	align-items: center;
	font-size: 30px;
}

.details a{
	text-decoration: underline;
}

.details a:hover {
  color: var(--light-blue);
}

.details a{
  color: var(--dark-gray);
}

.miniimg{
	display: flex;
}

.twoimgs{
	flex: 50%;
	padding: 5px;
}

.details img {
    max-width: 100%;
		text-align: center;
}

.container {
    margin-left:5%;
    margin-right:5%;
    margin-bottom:0%;
    margin-top:0%;
    width:90%;
    height:100%;
}

.oneimg{
	margin-left:10%;
	margin-right:10%;
	margin-bottom:0%;
	margin-top:0%;
	width:80%;
	height:100%;
}

.minilinks{
	display: flex;
}

.twolinks{
	flex: 10%;
	padding: 1px;
}

.connect-outside-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.connect-inside-div {
	align-items: center;
	justify-content: space-between;
}

.blue-text {
	color: var(--light-blue);
}

.white-text {
	color: var(--light-gray);
}

.list{
	background-color: var(--light-blue);;
	padding-top: 100px;
	padding-bottom: 150px;
}

.project-links{
	display: flex;
	align-items: center;
}